/* GENERAL STYLES */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo-header{
    text-decoration: none;
}


.first-part-header {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.last-part-header {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #2196f3;
}

.header-tel-link, 
.header-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  list-style: none;
  text-decoration: none;
}

.header-tel-link:hover,
.header-tel-link:focus,
.header-btn:hover,
.header-btn:focus {
    color: #2196F3;
}

.main-text{
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

.hero{
    background: #2F303A;
}

.hero-btn{
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
    background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.specifics-list{
    list-style: none;
}

.main-specifics{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.main-specifics-text{
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}

.main-gallery{
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.main-gallery-list{
    list-style: none;
}

.body-team{
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.body-team-list{
    list-style: none;
}

.body-team-member{
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.body-team-text{
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

.footer{
background: #2F303A;
}

.logo-footer{
    text-decoration: none;
}

.first-part-footer{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;
color: #2196F3;
}

.last-part-footer{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-contacts{
    text-decoration: none;
    list-style: none;
}

.footer-adress{
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-btn{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

